<div style="text-align: center;" class="panel panel-default">

	<div class="panel-heading">
		<h2>Example App</h2>
	</div>

	<div style="text-align: left;" class="panel-body">

		<p>
			<div class="panel panel-default">

				<div class="panel-heading">
					<h3 class="panel-title">About this app</h3>
				</div>

				<div class="panel-body">
					This page demonstrates how an app can add a dashboard and use libquerymod to interact with other sensors on the network.
				</div>

			</div>
		</p>

		<% if settings.db.execute("SELECT COUNT(*) FROM Apps WHERE name=?;", ["libquerymod"])[0][0] != 0 %>
	
			<p>
	                        <div class="panel panel-default">

                                	<div class="panel-heading">
                        	                <h3 class="panel-title">Query sensors</h3>
                	                </div>

        	                        <div class="panel-body">
	                                        <% settings.db.execute("SELECT uuid,name,room FROM Modules;").each do |mod|
							uuid = mod[0]
                                	                name = mod[1]
                        	                        room = mod[2]%>

                	                                <div class="well table-responsive">
								<table style="width: 100%; text-align: center;">
									<tbody>
										<tr>
											<td>
                                        	                				<b><%= name %> in <%= room %></b>
											</td>
											<td>
												<b>State: </b><span id="<%= uuid %>">Hit update to query the state</span>
											</td>
											<td>
												<button class="btn btn-primary" onclick="update_state(<%= "\'"+uuid+"\'" %>)">Update</a>
                                                                	                </td>
										</tr>
									</tbody>
								</table>
                                	                </div>

                        	                <% end %>
                	                </div>

        	                </div>
	                </p>

		<% else %>

			<p>

				<div class="alert alert-danger" role="alert"><b>Error:</b> App 'libquerymod' is missing, cannot query modules.</div>

			</p>

		<% end %>

	</div>
</div>

<script>
	function update_state(id) {
		NProgress.start();
		$.get("/QueryModule/"+id, function(body) {
			var span = document.getElementById(id);
			while(span.firstChild) {
				span.removeChild( span.firstChild );
		        }
			span.appendChild(document.createTextNode(body));
			NProgress.done();
		});
	};
</script>
