<!DOCTYPE html>
<html>
	<h1 style="margin-top: 5%; text-align: center;">Welcome Home</h1>



	<div style="color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"class="tiles">
		<div class="live-tile" id="template_tile"></div>

		

		<script>
			$("#template_tile").load("template_tile.html")
		</script>

		<script>
			$( ".tiles" ).sortable();
			$( ".tiles" ).disableSelection();
		</script>
	<!-- Tiles end -->
	</div>



</html>
