<html>
	<head>
		<script src="/vendor/jquery/jquery-1.9.1.min.js"></script>
		<script src="/vendor/jquery/jquery-ui.js"></script>
		<script src="/vendor/bootstrap/bootstrap.min.js"></script>
		<script src="/vendor/metro/metro.js"></script>
		<script src="/vendor/nprogress/nprogress.js"></script>
		<script src="/vendor/terramod/terramod.js"></script>
		
		<link href="/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" />
		<link href="/vendor/bootstrap/bootstrap-theme.min.css" rel="stylesheet" />
		<link href="/vendor/metro/metro.css" rel="stylesheet" />
		<link href="/vendor/nprogress/nprogress.css" rel="stylesheet" />
		<link href="/vendor/terramod/terramod.css" rel="stylesheet" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>TerraMod</title>

	</head>
	
	<body>

		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>	
					</button>
					<a class="navbar-brand" href="/">TerraMod</a>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
						  	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Apps <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<% settings.db.execute("SELECT name,object,dir FROM Apps;").each do |app|
									name = app[0]
									object = app[1]
									dir = app[2]
										if File.exists? "./apps/#{dir}/views/dashboard.erb" %>
											<li><a href="/<%= object %>/dashboard"><%= name %></a></li>
										<% end %>
								<% end %>
								<li class="divider"></li>
								<li><a href="/manage_apps">Manage Apps</a></li>
							</ul>
					  	</li>
						<li><a href="/admin"> Administration </a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<br /><br /><br /><br />
			<%= yield %>
		</div>

	</body>
</html>
