<div  style="margin-top: 6%" class="panel panel-default">
	<div style="text-align: center;" class="panel-body">
		<h2>Manage Installed Apps</h2>
		<div class="well">
			<table style="width: 100%; padding: 2%;">
				<!-- The app_list should be passed in from Sinatra in terramod.rb. Should be a hash containing the app name and web route -->
				<!-- TODO: make that happen -->
				<% apps.each do |app| 
					name = app[0]
					description = app[1]
					object = app[2]
					version = app[4]%>
					<tr>
						<td align="left"> 
							<h4><a href="/edit_app/"<%= object %>><%= name %></a></h4>
						</td>
                                                <td align="left">
                                                        Version <%= version %>
                                                </td>
                                                <td align="left">
                                                        <%= description[0..64] %>...
                                                </td>

						<td align="right">
							<button type="button" class="btn btn-danger btn-default">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Uninstall
							</button>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
		<button type="button" class="btn btn-success btn-default btn-lg">
			<span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Install App
		</button>
	<!-- Well end -->
<!-- Panel Body end -->
	</div>
<!-- Panel end -->
</div>
