<div class="panel panel-default">
	<div style="text-align: center; font-size:200%;" class="panel-body">
		<b>Manage Installed Apps</b>
		<div style="padding-top: 25px; padding-right: 75px; text-align: left;" class="container">
		<!-- Currently uses some dummy data, will substitute database calls when the time comes -->
			<div class="well">
				<table>
					<% apps = ["App 1", "App 2"] %>
					<% for app in apps%>
						<tr> 
							<td> 
								<a href="/dummy">
									<%= app %> 
								</a>
							</td>
							<td> 
								<button style="position: relative; left: 25px;"button" class="btn btn-default btn-lg">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Uninstall
								</button>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- TODO: Add "Install" button -->
