<!DOCTYPE html>
<html>
<div style="margin-top: 5%" class="panel panel-default">
	<div style="text-align: center; font-size:200%;" class="panel-body">
		<b>Manage Installed Apps</b>
		<div class="well">
			<table style="width: 100%; padding: 2%;">
				<% app_names.each_with_index do |app_name, index| %>
					<tr> 
						<td align="left"> 
							<a href=<%= app_routes[index][0] %>>
								<%= app_name[0] %>
							</a>
						</td>
						<td align="right">
							<button type="button" class="btn btn-default btn-lg">
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Uninstall
							</button>
						</td>
					</tr>
				<% end %>
			</table>
			<button type="button" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Install App
			</button>
		<!-- Well end -->
		</div>
	<!-- Panel Body end -->
	</div>
<!-- Panel end -->
</div>
</html>
<!-- TODO: Add "Install" button -->
