<div  style="margin-top: 6%" class="panel panel-default">
	<div style="text-align: center;" class="panel-body">
		<h2>Settings</h2>
		<div class="panel panel-header">Add a Nexus</div>
		<div class="panel panel-body">
			
		</div>
	<!-- Well end -->
<!-- Panel Body end -->
	</div>
<!-- Panel end -->
</div>
