<div style="text-align: center;" class="panel panel-default">

	<div class="panel-heading">
		<h2>Greenlights</h2>
	</div>

	<div style="text-align: left;" class="panel-body">

		<ul class="nav nav-pills">
			<li><a href="#rules">Rules</a></li>
			<li><a href="#profiles">Profiles</a></li>
			<li class="active"><a href="#groups">Groups</a></li>
		</ul>
		
		<div class="well" style="padding:1%;">
			<div style="overflow: hidden;">
				<div style="float:left; width:33%;">
					<h2>Groups</h2>
					<select multiple class="form-control">
						<option>Bedroom</option>
						<option>Kitchen</option>
					</select>
					<label class="btn btn-default btn-small btn-success">
						<span class="glyphicon glyphicon-plus" aria-hidden="true" /> New Group
					</label>
					<label class="btn btn-default btn-small btn-danger">
						<span class="glyphicon glyphicon-minus" aria-hidden="true" /> Remove Group
					</label>
				</div>
				
				<div style="float:left; width:32%; padding:1%">
					<h2>Current Group's Lights</h2>
					
					<select multiple class="form-control">
						<option>1</option>
						<option>2</option>
					</select>
					
					<label class="btn btn-default btn-small btn-success" style="float:left;">
						<span class="glyphicon glyphicon-plus" aria-hidden="true" /> Save group
					</label>
					
					<label class="btn btn-default btn-small btn-danger" style="float:left;">
						<span class="glyphicon glyphicon-plus" aria-hidden="true" /> Remove selected lights
					</label>
				</div>
				
				<div style="float:left; width:33%; padding: 1%">
					<h2>Lights</h2>
					<select multiple class="form-control">
						<option>1</option>
						<option>2</option>
					</select>
					
					<label class="btn btn-default btn-small btn-success" style="float:left;">
						<span class="glyphicon glyphicon-plus" aria-hidden="true" /> Add to group
					</label>
				</div>
			</div>
		</div>
		
		
	</div>
</div>

<script>
	function update_state(id) {
		NProgress.start();
		$.get("/QueryModule/"+id, function(body) {
			var span = document.getElementById(id);
			while(span.firstChild) {
				span.removeChild( span.firstChild );
		        }
			span.appendChild(document.createTextNode(body));
			NProgress.done();
		});
	};
</script>
