<div style="text-align: center;" class="panel panel-default">

	<div class="panel-heading">
		<h2>Greenlights</h2>
	</div>

	<div style="text-align: left;" class="panel-body">

		<ul class="nav nav-pills">
			<li class="active"><a href="#">Rules</a></li>
			<li><a href="#">Profiles</a></li>
			<li><a href="#">Groups</a></li>
		</ul>
		
		<div class="well">
			<table style="width:100%">
				<tr>
					<th>Sensor</th>
					<th>Start</th>
					<th>End</th>
					<th>Minutes</th>
					<th>Color</th>
					<th>Lights</th>
				</tr>
				
				<!% rule_data = db.execute("SELECT  FROM Rules;") %>
				
				<tr>
					<td>Door sensor</td>
					<td>6:00am</td>
					<td>10:00am</td>
					<td>10</td>
					<td>White</td>
					<td>Office</td>
					<td>
						<label class="btn btn-default btn-xsmall btn-danger" for="appfile">
							<span class="glyphicon glyphicon-minus" aria-hidden="true" />
						</label>
					</td>
				</tr>
				
				<tr>
					<td>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Sensor">
						</div>
					</td>
					<td>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Start">
						</div>
					</td>
					<td>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="End">
						</div>
					</td>
					<td>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Minutes">
						</div>
					</td>
					<td>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Color">
						</div>
					</td>
					<td>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Lights">
						</div>
					</td>
				
					<td>
						<label class="btn btn-default btn-small btn-success" for="appfile">
							<span class="glyphicon glyphicon-plus" aria-hidden="true" /> Add
						</label>
					</td>
				</tr>
			</table>
		</div>
		
		
	</div>
</div>

<script>
	function update_state(id) {
		NProgress.start();
		$.get("/QueryModule/"+id, function(body) {
			var span = document.getElementById(id);
			while(span.firstChild) {
				span.removeChild( span.firstChild );
		        }
			span.appendChild(document.createTextNode(body));
			NProgress.done();
		});
	};
</script>
